function Main.main 2
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 1
push local 1
call Main.convert 1
pop temp 0
push constant 0
return
function Main.convert 3
push constant 0
not
pop local 2
label WHILETRUE0
push local 2
not
if-goto WHILEFALSE0
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push constant 9000
push local 1
add
push local 0
call Memory.poke 2
pop temp 0
push local 1
push constant 16
gt
not
not
if-goto IFFALSE1
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto IFFALSE2
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
goto CONTINUE2
label IFFALSE2
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
label CONTINUE2
goto CONTINUE1
label IFFALSE1
push constant 0
pop local 2
label CONTINUE1
goto WHILETRUE0
label WHILEFALSE0
push constant 0
return
function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto IFFALSE3
push constant 1
return
goto CONTINUE3
label IFFALSE3
push argument 0
push constant 2
call Math.multiply 2
return
label CONTINUE3
function Main.fillMemory 0
label WHILETRUE4
push argument 1
push constant 0
gt
not
if-goto WHILEFALSE4
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto WHILETRUE4
label WHILEFALSE4
push constant 0
return
